# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Node modules
node_modules/

# Local Google creds
.googlerc.json

# Backend
backend/.nyc_output/
backend/coverage/
backend/build/
backend/dist/
backend/deploy/
backend/.clasprc.json

# Frontend
frontend/www/
frontend/www-prod/
